{
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module"
  },
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier",
    "import"
  ],
  "rules": {
    "prettier/prettier": "error",
    "import/no-extraneous-dependencies": [
      "error", {
        "devDependencies": [
          "test/**",
          "packages/**/test/**",
          "packages/**/*.test.js",
          "data-src/**/*.js"
        ],
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "import/order": [
      "error", {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ]
      }
    ],
    "no-underscore-dangle": "off"
  }
}